<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<!-- Heading -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Superior Quality</h1>
                <p class="lead text-center">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>
            </div>
        </div>
    </div>

    <!-- Promos -->
	<div class="container-fluid">
        <div class="row promo">
        	<a href="#">
				<div class="col-md-4 promo-item item-1">
					<h3>
						Unleash
					</h3>
				</div>
            </a>
            <a href="#">
				<div class="col-md-4 promo-item item-2">
					<h3>
						Synergize
					</h3>
				</div>
            </a>
			
			<a href="#">
				<div class="col-md-4 promo-item item-3">
					<h3>
						Procrastinate
					</h3>
				</div>
            </a>
        </div>
    </div><!-- /.container-fluid -->
    <!-- Featured Products -->
	<div class="container">
		<h1 class="text-center">Special Class Products</h1>
		<div class="row">
		
			<!-- Product 1 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/yangonoil.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Yangon</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>

			<!-- Product 2 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/meizan.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Meizan</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>

			<!-- Product 3 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/amayhtwar.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Amay Htwar</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>

			<!-- Product 4 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/goody.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Goody</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>
		</div>
    </div><!-- /.container -->
    <div class="container text-center">
		<h1>Unparalleled Service</h1>
		<p class="lead">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products without collateral.</p>
		<img class="img-responsive img-circle center-block" src="assets/images/service1.jpg" alt="">
	</div><!--/.container-->
	<!-- Footer -->
	<footer>
		<h1 class="text-center">Find Order trackng here</h1>
		<!-- Map -->
		<div class="footer-map wrap">
				
				<div class="search-box">
					<div class="input-group">
						<input type="text" class="form-control txt-tracking-code" placeholder="Your tracking code">
						<span class="input-group-btn">
							<button class="btn btn-primary btn-find" type="button">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
								Find
							</button>
						</span>
					</div>
				</div>
				
		</div>	
			
			<div class="container">
				<div class="row">
					<div class="col-sm-12 footer-info-item text-center">
						
						<h2>Contact Us</h2>
						<p class="lead"><span class="glyphicon glyphicon-phone-alt"></span> +1(23) 456 7890<br>
						info@example.com</p>
					</div>
				</div>
			</div>

		<!-- Footer Links -->
		<div class="footer-info">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 footer-info-item">
						<h3>Information</h3>
						<ul class="list-unstyled">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Customer Service</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Sitemap</a></li>
						</ul>
					</div>
					<div class="col-sm-4 footer-info-item">
						<h3>My Account</h3>
						<ul class="list-unstyled">
							<li><a href="#">Sign In</a></li>
							<li><a href="#">View Cart</a></li>
							<li><a href="#">Track My Order</a></li>
							<li><a href="#">Help</a></li>
						</ul>	
					</div>
					<div class="col-sm-4 footer-info-item">
						<h3><span class="glyphicon glyphicon-list-alt"></span> Newsletter</h3>
						<p>Sign up for exclusive offers.</p>
						<div class="input-group">
							<input type="email" class="form-control" placeholder="Enter your email address">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="button">
									Subscribe!
								</button>
							</span>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
        </div>
        
      <app-footer></app-footer>
        
	</footer>