.promo, .footer-map {
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	}

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {
    color: white;
	text-shadow: 1px 1px 8px black;
    text-decoration: none;
}

.promo-item {
    height: 200px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {
    background-size: 110%; 
    border: 5px solid black;
    line-height: 170px;
}

.promo-item h3 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
}

.item-1 {
	background: url('assets/images/dec-img1.jpg');
	}
	
.item-2 {
	background: url('assets/images/dec-img2.jpg');
	}
	
.item-3 {
	background: url('assets/images/dec-img3.jpg');
	}
		
.item-1,
.item-2,
.item-3 {
	background-size: cover;
	background-position: 50% 50%;
	}

.featured-product > img,
.featured-product > a > img {
	height: 150px;
}

.featured-product h3 {
	color: #dd845a;
	font-size: 18px;
	}

.footer-map {
    height: 300px;
    width: 100%;
    background: url(assets/images/map.jpg);
    background-size: cover;
    border-color: #ccc;
    opacity: 0.7;
}
.search-box {
	width: 500px;
  	margin: auto;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
}
.wrap {
  	display: flex;
  	justify-content: center;
  	align-items: center;
}
.search-box .txt-tracking-code, .search-box .btn-find {
	height: 50px;
}
.footer-info, .footer-info a:link, .footer-info a:hover, .footer-info a:focus, .footer-info a:visited {
    color: #959595;
}
.footer-info {
    padding: 20px 0;
    background: #f7f7f7;
}

.footer-info,
.footer-info a:link,
.footer-info a:hover,
.footer-info a:focus,
.footer-info a:visited {
    color: #959595;
	}

.footer-info h3 {
	color: black;
	font-size: 18px;
	}
    
.footer-info-item {
    padding: 0px 20px;
    }
    



