<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/dist/css/top.css">
<header>
<div class="container">
<div class="row">
<div class="col-md-4 col-sm-4 col-xs-9">
<a href="https://www.madeinmyanmar.asia/" title="Made in Myanmar"><img src="./Yangon Pure Peanut Oil _ Made in Myanmar_files/logo.png" class="img-responsive logo" alt="Made in Myanmar"></a>
</div>
<div class="col-md-8 col-sm-8 hidden-xs">
<img src="assets/images/banner.jpg" class="img-responsive top-banner" alt="Top Banner">
</div>
</div>
</div>
</header>
<div class="menu">
<div class="container">
<div class="row">
<nav class="navbar navbar-default navbar-menu-default">
	<div class="navbar-collapse collapse">
		<ul id="main-menu" class="nav navbar-nav menu-nav">
			<li><a>Home</a></li>
			<li><a>About Us</a></li>
			<li><a>Contact Us</a></li>
		</ul>
	</div>
</nav>
</div>
</div>
</div>