<app-header></app-header>
<div class="container">
		<h1 class="text-center">Our Products</h1>
		<div class="input-group control-form row">
		<select class="form-control">
			<option>select product</option>
			<option>product one</option>
			<option>product two</option>
			<option>product three</option>
		</select>
		<select class="form-control">
			<option>select categories</option>
			<option>peanut oil</option>
			<option>sunflower oil</option>
		</select>
		</div>
		<div style="clear:both;"></div>
        <div class="row">
		
			<!-- Product 1 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/yangonoil.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Yangon</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>

			<!-- Product 2 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/yangonoil.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Yangon</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>

			<!-- Product 3 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/yangonoil.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Yangon</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>

			<!-- Product 4 -->
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail featured-product">
					<a href="#">
						<img src="assets/images/yangonoil.jpg" alt="">
					</a>
					<div class="caption">
						<h3>Yangon</h3>
						<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
						
						<button class="btn btn-primary btn-more" type="button">
							More
						</button>
					</div>
				</div>
			</div>
		</div>
    </div>
    <footer>
    	<app-footer></app-footer>
    </footer>